# Lesson 1: Lists, Dictionaries, & Dataframes
## Lists follow the form of [item 1, item 2, â€¦ , item n]; e.g. [1,2,3,4,5]
### Below we create a list and access its length

In [6]:
# create list1 and enter its values manually
list1 = [1,2,3,4,5]
# print list1
print(list1)

# create a string variable with some text
start_string = 'The length of list1 is '

# create a variable with the length of list1
list1_len = len(list1)

# create a variable with the length of list1 as a string
list1_len_string = str(len(list1))

# print a string explaining the length of list1
print(start_string + list1_len_string)

[1, 2, 3, 4, 5]
The length of list1 is 5

## Next create more lists and work with indexes

In [15]:
# create list of things in Africa; lists are defined by single bracket around the values
africa_list = ['trees', 'grass', 'elephants', 'birds']

# return the first item in the list by index = 0
print('The first item in africa_list = ' + africa_list[0])

# return the index of the element "birds"
birds_index = africa_list.index('birds')
print('The index of "birds" in africa_list = ' + str(birds_index) + ' and it is item number ' + str(birds_index + 1))

The first item in africa_list = trees
The index of "birds" in africa_list = 3 and it is item number 4

## Next select from the list based on containing items

In [16]:
# create list of animals
animals_list = ['elephants','birds','cows','horses']

# create list of animals in africa using in clause
africa_animals_list = [i for i in africa_list if i in animals_list]
print(africa_animals_list)

# print list of non-animals without creating the list as it's own item
print([i for i in africa_list if i not in animals_list])

# print list of items whos text contains the letter "e"
print([i for i in africa_list if 'e' in i])

['elephants', 'birds']
['trees', 'grass']
['trees', 'elephants']

## Next create lists, combine them and remove items

In [20]:
# create list of fruit, vegetables, and grains for the shopping list
fruits = ['apples','bananas','peaches','pears']
veggies = ['broccoli','asparagus','lettuce']
grains = ['brown rice','jasmine rice','basmati rice','wheat','cous cous','quinoa']

# combine all items into shopping list
shopping_list = fruits + veggies + grains
print(shopping_list)

# crap, we hate broccoli & brown rice.  remove then from the list
shopping_list.remove('broccoli')
shopping_list.remove('brown rice')

print(shopping_list)

# remove command changes the list inplace, so our list needs to be recreated for another version
shopping_list = fruits + veggies + grains

# remove broccoli and brown rice using list comprehension
we_hate = ['broccoli','brown rice']
shopping_list = [i for i in shopping_list if i not in we_hate]
print(shopping_list)

['apples', 'bananas', 'peaches', 'pears', 'broccoli', 'asparagus', 'lettuce', 'brown rice', 'jasmine rice', 'basmati rice', 'wheat', 'cous cous', 'quinoa']
['apples', 'bananas', 'peaches', 'pears', 'asparagus', 'lettuce', 'jasmine rice', 'basmati rice', 'wheat', 'cous cous', 'quinoa']
['apples', 'bananas', 'peaches', 'pears', 'asparagus', 'lettuce', 'jasmine rice', 'basmati rice', 'wheat', 'cous cous', 'quinoa']

## Import pandas and turn our shopping list into a dataframe

In [24]:
import pandas as pd

# convert to dataframe
shopping_df = pd.DataFrame(shopping_list)

# # rename the columns
# shopping_df.columns = (['food'])

# show in editor without print
shopping_df

            food
0         apples
1        bananas
2        peaches
3          pears
4      asparagus
5        lettuce
6   jasmine rice
7   basmati rice
8          wheat
9      cous cous
10        quinoa

## Create a dictionary of food with category,  price/unit and quantity needed

In [25]:
shopping_dict = {
      'apples': ['fruit',1.00,4]
    , 'bananas': ['fruit',0.25,8]
    , 'peaches': ['fruit',0.50,2]
    , 'pears': ['fruit',0.35,1]
    , 'asparagus': ['vegetable',3.00,1]
    , 'lettuce': ['vegetable',1.75,1]
    , 'jasmine rice': ['grain',0.12,20]
    , 'basmati rice': ['grain',0.15,5]
    , 'wheat': ['grain',0.10,10]
    , 'cous cous': ['grain',0.37,2.5]
    , 'quinoa': ['grain',0.50,3]
}

shopping_dict

{'apples': ['fruit', 1.0, 4],
 'bananas': ['fruit', 0.25, 8],
 'peaches': ['fruit', 0.5, 2],
 'pears': ['fruit', 0.35, 1],
 'asparagus': ['vegetable', 3.0, 1],
 'lettuce': ['vegetable', 1.75, 1],
 'jasmine rice': ['grain', 0.12, 20],
 'basmati rice': ['grain', 0.15, 5],
 'wheat': ['grain', 0.1, 10],
 'cous cous': ['grain', 0.37, 2.5],
 'quinoa': ['grain', 0.5, 3]}

## Convert dictionary to dataframe and create aggregations

In [26]:
# create the dataframe
shopping_df = pd.DataFrame(shopping_dict)
shopping_df

,apples,bananas,peaches,pears,asparagus,lettuce,jasmine rice,basmati rice,wheat,cous cous,quinoa
0,fruit,fruit,fruit,fruit,vegetable,vegetable,grain,grain,grain,grain,grain
1,1.0,0.25,0.5,0.35,3.0,1.75,0.12,0.15,0.1,0.37,0.5
2,4,8,2,1,1,1,20,5,10,2.5,3

In [27]:
# it doesn't look how we need it to - let's transpose it
shopping_df = shopping_df.T
shopping_df

                      0     1    2
apples            fruit   1.0    4
bananas           fruit  0.25    8
peaches           fruit   0.5    2
pears             fruit  0.35    1
asparagus     vegetable   3.0    1
lettuce       vegetable  1.75    1
jasmine rice      grain  0.12   20
basmati rice      grain  0.15    5
wheat             grain   0.1   10
cous cous         grain  0.37  2.5
quinoa            grain   0.5    3

In [28]:
# the food name is the index, which we don't want.  let's reset the index
shopping_df = shopping_df.reset_index()
shopping_df

           index          0     1    2
0         apples      fruit   1.0    4
1        bananas      fruit  0.25    8
2        peaches      fruit   0.5    2
3          pears      fruit  0.35    1
4      asparagus  vegetable   3.0    1
5        lettuce  vegetable  1.75    1
6   jasmine rice      grain  0.12   20
7   basmati rice      grain  0.15    5
8          wheat      grain   0.1   10
9      cous cous      grain  0.37  2.5
10        quinoa      grain   0.5    3

In [29]:
# the columns aren't named, let's rename them
shopping_df.columns = (['food_name','category','price','quantity'])
shopping_df

       food_name   category price quantity
0         apples      fruit   1.0        4
1        bananas      fruit  0.25        8
2        peaches      fruit   0.5        2
3          pears      fruit  0.35        1
4      asparagus  vegetable   3.0        1
5        lettuce  vegetable  1.75        1
6   jasmine rice      grain  0.12       20
7   basmati rice      grain  0.15        5
8          wheat      grain   0.1       10
9      cous cous      grain  0.37      2.5
10        quinoa      grain   0.5        3

In [30]:
# now let's rewrite this in 2 lines
shopping_df = pd.DataFrame(shopping_dict).T.reset_index()
shopping_df.columns = (['food_name','category','price','quantity'])
shopping_df

       food_name   category price quantity
0         apples      fruit   1.0        4
1        bananas      fruit  0.25        8
2        peaches      fruit   0.5        2
3          pears      fruit  0.35        1
4      asparagus  vegetable   3.0        1
5        lettuce  vegetable  1.75        1
6   jasmine rice      grain  0.12       20
7   basmati rice      grain  0.15        5
8          wheat      grain   0.1       10
9      cous cous      grain  0.37      2.5
10        quinoa      grain   0.5        3

In [31]:
# shape of df
print(shopping_df.shape)

# rows
print(shopping_df.shape[0])

# columns
print(shopping_df.shape[1])

(11, 4)
11
4

## Before we work with this data, set the data types

In [33]:
# show the datatypes
shopping_df.dtypes

food_name    object
category     object
price        object
quantity     object
dtype: object

In [34]:
shopping_df

       food_name   category price quantity
0         apples      fruit   1.0        4
1        bananas      fruit  0.25        8
2        peaches      fruit   0.5        2
3          pears      fruit  0.35        1
4      asparagus  vegetable   3.0        1
5        lettuce  vegetable  1.75        1
6   jasmine rice      grain  0.12       20
7   basmati rice      grain  0.15        5
8          wheat      grain   0.1       10
9      cous cous      grain  0.37      2.5
10        quinoa      grain   0.5        3

In [35]:
# change price and quantity to float64
shopping_df['price'] = shopping_df['price'].astype('float64')
shopping_df['quantity'] = shopping_df['quantity'].astype('float64')

shopping_df.dtypes

food_name     object
category      object
price        float64
quantity     float64
dtype: object

## Functionize the above cell

In [36]:
def dtype_cast(df,col,typ):
    df[col] = df[col].astype(typ)
    
#change price and quantity back to str
dtype_cast(shopping_df,'price','str')
dtype_cast(shopping_df,'quantity','str')
shopping_df.dtypes

food_name    object
category     object
price        object
quantity     object
dtype: object

In [37]:
# put it back how we want it with the function
dtype_cast(shopping_df,'price','float64')
dtype_cast(shopping_df,'quantity','float64')
shopping_df.dtypes

food_name     object
category      object
price        float64
quantity     float64
dtype: object

## Now to summarizing this dataframe

In [43]:
# min, mean, max, variance, standard deviation of price
print(shopping_df['price'].min())
print(shopping_df['price'].mean())
print(shopping_df['price'].max())
print(shopping_df['price'].var())
print(shopping_df['price'].std())
print(shopping_df['price'].mode()[0])

0.1
0.7354545454545455
3.0
0.7981472727272727
0.8933908846228915
0.5

In [47]:
# groupby category and get stats
shopping_df.groupby(['category']).agg({'price': 'min'})

           price
category
fruit       0.25
grain       0.10
vegetable   1.75

In [48]:
# looks ugly this way and harder to merge with later, so reset index
shopping_df.groupby(['category']).agg({'price': 'min'}).reset_index()

    category  price
0      fruit   0.25
1      grain   0.10
2  vegetable   1.75

In [49]:
# multiple statistics on the same column
shopping_df.groupby(['category']).agg({'price': ['min','mean','max']}).reset_index()

    category price
               min   mean  max
0      fruit  0.25  0.525  1.0
1      grain  0.10  0.248  0.5
2  vegetable  1.75  2.375  3.0

In [74]:
# get the fruit that is the minimum fruit price
fruit_df = shopping_df.loc[shopping_df['category'] == 'fruit'].copy()
min_fruit_price = fruit_df['price'].min()
fruit_df.loc[fruit_df['price'] == min_fruit_price]['food_name']

1    bananas
Name: food_name, dtype: object

In [85]:
# create new field with cost, create df with stats and rename columns
shopping_df['cost'] = shopping_df['price'] * shopping_df['quantity']

agg_df1 = shopping_df.groupby(['category']).agg({'price': 'mean', 'quantity': 'sum', 'cost': 'sum'}).reset_index()
agg_df1.columns = (['category','avg_price','total_quantity','total_cost'])

agg_df1

    category  avg_price  total_quantity  total_cost
0      fruit      0.525            15.0       7.350
1      grain      0.248            40.5       6.575
2  vegetable      2.375             2.0       4.750

## Multiple shopping lists with constant statistics

In [86]:
# first filtering a dataframe
shopping_df.loc[shopping_df['food_name'] == 'apples']

  food_name category  price  quantity  cost
0    apples    fruit    1.0       4.0   4.0

In [87]:
# next filtering with list
shopping_df.loc[shopping_df['food_name'].isin(['apples','bananas'])]

  food_name category  price  quantity  cost
0    apples    fruit   1.00       4.0   4.0
1   bananas    fruit   0.25       8.0   2.0

In [88]:
# make an agg dictionary for repeatable aggregations
agg_dict = {'price': 'mean', 'quantity': 'sum', 'cost': 'sum'}

# 3 different shopping lists
mom_list = ['apples','pears','wheat']
dad_list = ['asparagus','cous cous']
my_list = ['pears','bananas','jasmine rice']

# filter the dataframe based on the items in the lists and get aggregation
shopping_df.loc[shopping_df['food_name'].isin(mom_list)].groupby(['category']).agg(agg_dict).reset_index()

  category  price  quantity  cost
0    fruit  0.675       5.0  4.35
1    grain  0.100      10.0  1.00

## Loop over the 3 lists and get the cost for each person

In [89]:
# First create list of lists
all_people = [] #it's typically the "pythonic" way to create an empty thing and add to it
all_people.append(mom_list)
all_people.append(dad_list)
all_people.append(my_list)

all_people

[['apples', 'pears', 'wheat'],
 ['asparagus', 'cous cous'],
 ['pears', 'bananas', 'jasmine rice']]

In [90]:
# get the total cost in multiple steps before rolling into one value

agg_dict = {'cost': 'sum'}
### first, the basics
print(shopping_df.agg(agg_dict))
print('_____')
print('     ')

### next, get the values from this output
print(shopping_df.agg(agg_dict).values)
print('_____')
print('     ')

### the last line gave an array and we want to store a value, so we take the 1st element of the array with index 0
print(shopping_df.agg(agg_dict).values[0])

cost    18.675
dtype: float64
_____

[18.675]
_____

18.675

In [91]:
# now let's loop over the 3 lists and get the total cost for each person
agg_dict = {'cost': 'sum'}

for i in all_people:
    print(shopping_df.loc[shopping_df['food_name'].isin(i)].agg(agg_dict).values[0])

5.35
3.925
4.75

In [92]:
shopping_df.loc[shopping_df['food_name'].isin(dad_list)]

   food_name   category  price  quantity   cost
4  asparagus  vegetable   3.00       1.0  3.000
9  cous cous      grain   0.37       2.5  0.925

In [93]:
# let's add their names so we need to use enumerate
names = ['mom','dad','me']

for idx, j in enumerate(all_people):
    # create the cost value inside the loop
    person_cost = shopping_df.loc[shopping_df['food_name'].isin(j)].agg(agg_dict).values[0]
    rounded_cost = round(person_cost,2)
    
    # create the names
    name = names[idx]
    
    print('Total cost for ' + name + ' = $' + str(rounded_cost))

Total cost for mom = $5.35
Total cost for dad = $3.92
Total cost for me = $4.75

### Student Exercise 1

#### Make 3 lists with at least 4 items for the following: activities you like to do, your friends like to do, and your parents like to do
#### Print the length of each list along with who's activities it refers to
#### Find the common activities that are shared by 4 linkages - You|Friends, You|Parents, Parents|Friends, Everybody

In [1]:
my_stuff      = ['golf','yoga','python','cooking']
friends_stuff = ['eating','golf','yoga','hiking','c++']
parents_stuff = ['prying into my personal life','complaining about illness','being retired']

print('me ' + str(len(my_stuff)))   
print('friends ' + str(len(friends_stuff)))
print('parents ' + str(len(parents_stuff)))

print('-----------------------------------')

print([i for i in my_stuff if i in friends_stuff])
print([i for i in my_stuff if i in parents_stuff])
print([i for i in parents_stuff if i in friends_stuff])
print([i for i in my_stuff if i in friends_stuff and i in parents_stuff])

me 4
friends 5
parents 3
-----------------------------------
['golf', 'yoga']
[]
[]
[]

### Student Exercise 2 (Challenge)
#### Make a dictionary with all of the activities contained within any of the 3 lists where the activity is the key
#### For each key, add a list containing the cost to start the activity and the daily minutes required for proficiency
#### For any activities that your friends or parents do that you do not, print the activity and the associated startup cost and daily minutes required

In [2]:
all_list = my_stuff + friends_stuff + parents_stuff
cost = [1000,100,0,50,10,1000,100,0,0,0,0,0]

all_dict = {}
for idx, i in enumerate(all_list):
    all_dict[i] = cost[idx]

all_dict

{'golf': 1000,
 'yoga': 100,
 'python': 0,
 'cooking': 50,
 'eating': 10,
 'hiking': 0,
 'c++': 0,
 'prying into my personal life': 0,
 'complaining about illness': 0,
 'being retired': 0}

In [6]:
list_others_do_that_i_dont = [i for i in friends_stuff + parents_stuff if i not in my_stuff]

for i in list_others_do_that_i_dont:
    print(i + '; startup cost = ' + str(all_dict[i]))

eating; startup cost = 10
hiking; startup cost = 0
c++; startup cost = 0
prying into my personal life; startup cost = 0
complaining about illness; startup cost = 0
being retired; startup cost = 0